*title{
    display :flex;
    height : 20vh;
    align-items: center;
    justify-content: center;
}

.images {
    display : flex;
    justify-content : space-around;
    /* left : 4%; */
}


.image-container {
    /* background-color : black; */
    height : 500px;
    width : 800px;
    /* border : 10px solid black; */
    position : relative;
}

.image-container img{
    width: 78%;
    display : flex;
    height: 73%;
    
    /* left : 3%; */
}

.transition-image {
    position : absolute;
    top : 0;
    left : 0;
    opacity : 0;
    transition : opacity 0.5s ease;

}

.transition-image:hover {
    opacity : 1;
}

.fade::after {
    content : "The Mountains";
    color : white;
    display : flex;
    justify-content: center;
    align-items : center;
    font-size : 34px;
    background : black;
    width: 78%;
    height: 73%;
    position : absolute;
    top : 0;
    left : 0;
    opacity : 0;
    transition : opacity 0.8s ease;

}

.fade:hover::after{
    content : "The Mountains";
    opacity : 0.4;
}